[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
matplotlib = "*"
sklearn = "*"
nb-black = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.7"
